/* This is a CSS comment. Put your CSS styling below this line */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
h1 {
    color: #ffc;
    background-color:rgba(253, 46, 46, 0.589);
    font-size: 2.8em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-family: Bradley Hand ITC;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: rgb(253, 87, 87);
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}


h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.8em;
    font-family: Bradley Hand ITC;
    color: blueviolet;
}
a {
    text-decoration: none;
}

strong {
    font-family: Bradley Hand ITC;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}
table {
    background-color: rgba(253, 46, 46, 0.589);
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* name input fields */
input[type=name] {
  width: 30%;
  padding: 10px;
  margin: 3px 0 14px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #36a8f4;
  color: beige;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
/* Extra styles for the signin button */
.signinbtn {
  padding: 14px 20px;
  background-color: #1086d4;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: rgba(240, 78, 66, 0.87);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 50%;
  }
}